/* Colors*/

/* Grid*/

/*Breakpoints*/

/*Z-index*/

/*Border*/

/*Shadow*/

@font-face {
    font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #172755;
    background-color: #f8f9ff;
}

.loader-wrapper {
    background: #172755;
    position: fixed;
    z-index: 10000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.loader {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: rotate(175deg);
    -ms-transform: rotate(175deg);
    transform: rotate(175deg);
}

.loader span {
    position: absolute;
    top: calc(12px * var(--i));
    left: calc(12px * var(--i));
    right: calc(12px * var(--i));
    bottom: calc(12px * var(--i));
    border: 10px solid transparent;
    border-radius: 50%;
    -webkit-animation: animate 1s alternate ease-in-out infinite;
    animation: animate 1s alternate ease-in-out infinite;
    -webkit-animation-delay: calc(var(--i) * -0.1s);
    animation-delay: calc(var(--i) * -0.1s);
}

.loader span:nth-child(odd) {
    border-left: 10px solid #0088f0;
    border-top: 10px solid #0088f0;
}

.loader span:nth-child(even) {
    border-left: 10px solid #ef2a82;
    border-top: 10px solid #ef2a82;
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes animate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.no-scroll {
    overflow: hidden;
}

.btn-reset {
    border: 0;
    background-color: transparent;
}

.rounded {
    border-radius: 30px;
}

.first-dataset,
.second-dataset {
    stroke: currentColor;
}

.first-dataset {
    color: #0088f0;
    stroke-width: 10;
}

.second-dataset {
    color: #ef2a82;
    stroke-width: 7;
}

.main-description {
    margin: 0 auto;
}

.main-description--white .main-description__header {
    color: #fff;
}

.main-description__header {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-description__text {
    font-size: 14px;
    color: #8794ba;
    line-height: 150%;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 25px 0;
}

.header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    margin-right: 96px;
}

.header__sign-in {
    padding: .5em .7em;
    color: #8794ba;
    font-size: 16px;
    margin-right: 40px;
}

.header__sign-in:hover {
    color: #fff;
}

.header__sign-in:focus {
    outline: 2px solid #ef2a82;
}

.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navigation__item:not(:last-child) {
    margin-right: 36px;
}

.navigation a {
    padding: .5em .7em;
    display: block;
    color: #8794ba;
    font-size: 16px;
}

.navigation a:hover {
    color: #fff;
}

.navigation a:focus {
    outline: 2px solid #ef2a82;
}

.btn {
    border-radius: 3.75em;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    background-color: transparent;
    border: 0;
}

.btn--main {
    background-color: #ef2a82;
    color: #fff;
    -webkit-transition: color .4s, border-color .4s, -webkit-box-shadow .4s;
    transition: color .4s, border-color .4s, -webkit-box-shadow .4s;
    -o-transition: color .4s, border-color .4s, box-shadow .4s;
    transition: color .4s, border-color .4s, box-shadow .4s;
    transition: color .4s, border-color .4s, box-shadow .4s, -webkit-box-shadow .4s;
}

.btn--main:focus {
    -webkit-box-shadow: 0 0 0 4px #0f1f4b, 0 0 0 12px #ef2a82;
    box-shadow: 0 0 0 4px #0f1f4b, 0 0 0 12px #ef2a82;
}

.btn--secondary {
    color: #8794ba;
    border: 1px solid #8794ba;
    -webkit-transition: color .4s, border-color .4s, -webkit-box-shadow .4s;
    transition: color .4s, border-color .4s, -webkit-box-shadow .4s;
    -o-transition: color .4s, border-color .4s, box-shadow .4s;
    transition: color .4s, border-color .4s, box-shadow .4s;
    transition: color .4s, border-color .4s, box-shadow .4s, -webkit-box-shadow .4s;
}

.btn--secondary:hover {
    color: #fff;
    border-color: #fff;
}

.btn--secondary:focus {
    -webkit-box-shadow: 0 0 0 4px #8794ba;
    box-shadow: 0 0 0 4px #8794ba;
    border-color: transparent;
}

.btn--sm {
    padding: 0.65em 3.3em;
}

.btn--large {
    padding: 0.65em 1.3em;
}

.hero {
    background-color: #172755;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__wrapper::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: #f8f9ff;
    border-top: 10px solid #ef2a82;
    -webkit-transform: skewY(-2deg) translateY(70px);
    -ms-transform: skewY(-2deg) translateY(70px);
    transform: skewY(-2deg) translateY(70px);
    z-index: 1;
}

.hero__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero__content {
    position: relative;
    z-index: 1;
    max-width: 560px;
}

.hero__header {
    font-weight: 700;
    font-size: 50px;
    height: 120%;
    color: #fff;
    margin-bottom: 15px;
}

.hero__text {
    color: #8794ba;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 150%;
}

.hero__charts {
    -webkit-box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
    box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
    position: relative;
    margin-right: -250px;
    background: #fff;
    padding: 25px;
    z-index: 2;
    display: none;
}

.hero__mobile-chart {
    width: 100%;
    padding: 40px;
    background: #fff;
    display: none;
}

.hero-circle {
    position: absolute;
    top: 50%;
    left: -80px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chart-circle {
    padding: 20px 40px;
    width: 361px;
    height: 246px;
    -webkit-box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
    box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
    background: #fff;
}

.chart-circle__header {
    color: #8794ba;
    font-size: 10px;
}

.chart-circle__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.chart-circle__body {
    position: relative;
}

.chart-circle__body svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

.chart-circle__body circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-linecap: round;
    -webkit-transform: translate(5px, 4.5px);
    -ms-transform: translate(5px, 4.5px);
    transform: translate(5px, 4.5px);
}

.chart-circle__body .first-dataset {
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - ((440 * 79) / 100));
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.chart-circle__body .second-dataset {
    stroke-dasharray: 320;
    stroke-dashoffset: calc(320 - ((320 * 87) / 100));
}

.chart-circle__label {
    font-size: 10px;
    color: #8794ba;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(calc(-50% - 1px), calc(-50% - 1px));
    -ms-transform: translate(calc(-50% - 1px), calc(-50% - 1px));
    transform: translate(calc(-50% - 1px), calc(-50% - 1px));
}

.chart-circle__dataset-list {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
}

.chart-circle__dataset-list span {
    font-size: 11px;
    color: #8794ba;
}

.chart-circle__dataset-item + .chart-circle__dataset-item {
    margin-top: 22px;
}

.chart-circle__data {
    font-size: 28px;
}

.feature {
    padding-bottom: 60px;
}

.feature__description {
    text-align: center;
}

.feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.feature__description {
    margin-bottom: 40px;
}

.feature__item {
    margin: 30px auto 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
    text-align: center;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
}

.feature__item img {
    margin-bottom: 27px;
}

.feature__item-header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.feature__item-text {
    max-width: 360px;
    line-height: 150%;
    margin: 0 auto;
}

.charts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.charts__item#radar-animation .charts__description,
.charts__item#bar-animation .charts__description {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.charts__item#radar-animation .charts__content,
.charts__item#bar-animation .charts__content {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.charts__item#calendar-animation {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.charts__item + .charts__item {
    margin-top: 50px;
}

.charts__description {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin-right: 5%;
}

.charts__content {
    padding: 10px 20px;
    width: 90%;
    min-height: 300px;
    -webkit-box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
    box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.charts__content-body {
    max-width: 100%;
    margin: 0 auto;
}

.charts__content-body--lg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.charts__dataset-list {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

.charts__dataset-item + .charts__dataset-item {
    margin-top: 38px;
}

.charts__data {
    font-size: 40px;
    line-height: 130%;
}

.date {
    display: grid;
    grid-template-columns: repeat(7, minmax(25px, 1fr));
    grid-gap: 5px;
}

.date div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #262622;
    font-size: 12px;
}

.date .active,
.date .active--blue {
    color: #fff;
}

.date .active {
    background-color: #ef2a82;
}

.date .active--blue {
    background-color: #0088f0;
}

.date .day {
    line-height: 140%;
    color: #8794ba;
}

.tariff {
    position: relative;
    margin-top: 82px;
    padding: 160px 0;
    background-color: #172755;
    overflow: hidden;
}

.tariff::before {
    content: '';
    position: absolute;
    top: -8vh;
    left: -10px;
    width: 120%;
    height: 15vh;
    background-color: #f8f9ff;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    border-bottom: 10px solid #ef2a82;
}

.tariff::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px;
    height: 1500px;
    background: url(../img/Decor/Subtract3.svg) center no-repeat;
}

.tariff__body {
    position: relative;
    z-index: 1;
}

.tariff__description {
    text-align: center;
    margin-bottom: 20px;
}

.tariff__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-price {
    cursor: pointer;
    padding: 30px 15px;
    width: 280px;
    color: #fff;
    background-color: #0f1f4b;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s;
    position: relative;
}

.card-price:hover,
.card-price.hover {
    background-color: #fff;
    color: #172755;
}

.card-price:hover .card-price__discription,
.card-price.hover .card-price__discription {
    border-bottom-color: #d3d9e9;
}

.card-price:hover .card-price__link,
.card-price.hover .card-price__link {
    color: #fff;
    background-color: #ef2a82;
    border-bottom-color: #ef2a82;
}

.card-price--white {
    background-color: #fff;
    color: #172755;
}

.card-price--white .card-price__discription {
    border-bottom-color: #d3d9e9;
}

.card-price__category {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.card-price__discription {
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #8794ba;
    margin-bottom: 15px;
    -webkit-transition: border-bottom-color .4s;
    -o-transition: border-bottom-color .4s;
    transition: border-bottom-color .4s;
}

.card-price__cost {
    font-size: 40px;
    font-weight: 700;
}

.card-price__cost::before {
    content: '$';
    font-size: 0.5em;
}

.card-price__duration {
    margin-bottom: 20px;
    color: #8794ba;
}

.card-price .card-price__link {
    -webkit-transition: background-color .4s, color .4s, border-bottom-color .4s;
    -o-transition: background-color .4s, color .4s, border-bottom-color .4s;
    transition: background-color .4s, color .4s, border-bottom-color .4s;
}

.card-price .card-price__link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fb {
    display: block;
    width: 10px;
    height: 20px;
    background: url(../img/Icon/Facebook.svg) center/cover no-repeat;
}

.tw {
    display: block;
    width: 24px;
    height: 20px;
    background: url(../img/Icon/Twitter.svg) center/cover no-repeat;
}

.inst {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/Icon/Instagram.svg) center/cover no-repeat;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer__body {
    padding: 69px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #2a407c;
}

.footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__social-item + .footer__social-item {
    margin-left: 40px;
}

.hero--decor {
    position: relative;
}

.hero--decor::before,
.hero--decor::after {
    position: absolute;
    content: '';
}

.hero--decor::before {
    top: 0;
    left: 0;
    width: calc((400 / 1920) * 100vw);
    height: calc((400 / 1920) * 100vw);
    background: url(../img/Decor/Subtract1.svg) right/cover no-repeat;
    opacity: 0;
}

.hero--decor::after {
    top: 0;
    right: 0;
    width: calc((1300 / 1920) * 100vw);
    height: calc((1200 / 1080) * 100vh);
    opacity: 0;
    background: url(../img/Decor/Subtract2.svg) left/cover no-repeat;
}

@media (min-width: 576px) {
    .charts__item#radar-animation .charts__description,
  .charts__item#bar-animation .charts__description {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .charts__item#radar-animation .charts__content,
  .charts__item#bar-animation .charts__content {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    .charts__item#calendar-animation {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .date div {
        height: 29px;
        width: 29px;
    }
}

@media (min-width: 768px) {
    .main-description__header {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .main-description__text {
        font-size: 17px;
    }

    .btn {
        font-size: 14px;
    }

    .btn--large {
        padding: 0.96em 5em;
    }

    .feature__item {
        margin: 50px auto 0;
    }

    .charts__item + .charts__item {
        margin-top: 70px;
    }

    .date div {
        height: 49px;
        width: 49px;
    }

    .tariff__description {
        margin-bottom: 40px;
    }

    .tariff__list {
        padding-bottom: 100px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .tariff__item + .tariff__item {
        margin-left: 15px;
    }

    .hero--decor::before {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .header {
        padding: 50px 0;
    }

    .btn {
        font-size: 16px;
    }

    .hero__wrapper::after {
        border-top: 20px solid #ef2a82;
    }

    .hero__charts {
        margin-left: 150px;
        display: block;
    }

    .feature {
        padding-bottom: 130px;
    }

    .feature__description {
        margin-bottom: 80px;
    }

    .charts__item.reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .charts__item.reverse .charts__description {
        margin: 0 0 0 0;
    }

    .charts__item + .charts__item {
        margin-top: 120px;
    }

    .charts__description {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
        flex: 0 1 35%;
    }

    .charts__content {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
        flex: 0 1 55%;
        padding: 20px 40px;
    }

    .date {
        grid-gap: 10px;
    }

    .tariff::before {
        border-bottom: 20px solid #ef2a82;
    }

    .tariff__description {
        margin-bottom: 80px;
    }

    .tariff__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 340px;
        flex: 0 1 340px;
    }

    .tariff__item + .tariff__item {
        margin-left: 30px;
        margin-top: 0;
    }

    .card-price__category {
        font-size: 30px;
    }

    .card-price__discription {
        font-size: 18px;
        padding-bottom: 37px;
        margin-bottom: 28px;
        border-bottom: 1px solid #2a407c;
    }

    .card-price__cost {
        font-size: 60px;
    }

    .card-price__duration {
        margin-bottom: 40px;
    }

    .hero--decor::after {
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .main-description__header {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .main-description__text {
        font-size: 18px;
    }

    .hero__content {
        margin-right: 150px;
    }

    .card-price {
        padding: 30px 60px;
        width: 340px;
        height: 440px;
    }
}

@media (max-width: 992px) {
    .loader {
        width: 300px;
        height: 300px;
    }

    .main-description {
        max-width: 90%;
        text-align: center;
    }

    .header__navigation {
        display: none;
    }

    .navigation a {
        font-size: 20px;
    }

    .hero {
        height: 85vh;
    }

    .hero__mobile-chart {
        display: block;
    }

    .charts__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .charts__content {
        margin-top: 30px;
    }

    .charts__content-body--lg {
        min-width: 100%;
    }

    .fb {
        width: 15px;
        height: 30px;
    }

    .tw {
        width: 36px;
        height: 30px;
    }

    .inst {
        width: 30px;
        height: 30px;
    }

    .footer__body {
        padding: 25px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer__logo {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer__navigation {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 30px;
    }

    .footer__social-list {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .hero__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .hero__content {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .loader {
        width: 250px;
        height: 250px;
    }

    .header__logo {
        margin-right: 20px;
    }

    .header__btn {
        padding: 0.65em 1.3em;
        font-size: 14px;
    }

    .hero__content {
        margin-bottom: 15px;
    }

    .hero__header {
        font-size: 35px;
    }

    .charts__content {
        margin-top: 20px;
    }

    .charts__dataset-list {
        display: none;
    }

    .tariff {
        margin-top: 42px;
        padding: 120px 0 160px;
    }

    .tariff__item {
        margin-top: 15px;
    }

    .footer__social-item + .footer__social-item {
        margin-left: 20px;
    }
}

@media (max-width: 576px) {
    .hero {
        height: 100vh;
    }

    .hero__header {
        font-size: 25px;
    }

    .hero__text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .hero__mobile-chart {
        padding: 20px;
    }
}